.accordion-component {

    .accordion-item {
        margin-bottom:@component-item-spacing;
        border-radius:@component-item-border-radius;
        overflow:hidden;

        &:hover {
            border-color:@component-item-border-hover-color;
        }
    }

    .accordion-item-title-icon {
        position:absolute;
        top:50%;
        left:@component-item-padding-left;
        margin-top:-(@icon-size/2);
        color:@component-item-text-color;
    }

    .accordion-item-title {
        display:block;
        position:relative;
        padding:@component-item-padding;
        padding-left:(@icon-size+(@component-item-padding-left*2));
        color:@component-item-text-color;
        background-color:@component-item-background-color;
        text-decoration:none;
        border:@component-item-border-color;
        .transition-all-colors;

        &:focus {
            color:@component-item-text-hover-color;
            background-color:@component-item-background-hover-color;
            border-color:@component-item-border-hover-color;

            .accordion-item-title-icon {
                color:@component-item-text-hover-color;
            }
        }

        &.visited {
            color:@component-item-text-visited-color;
            background-color:@component-item-background-visited-color;
            border-color:@component-item-border-visited-color;

            .accordion-item-title-icon {
                color: @component-item-text-visited-color;
            }
        }

        &.selected {
            color:@component-item-text-selected-color;
            background-color:@component-item-background-selected-color;
            border-color:@component-item-border-selected-color;

            .accordion-item-title-icon {
                color: @component-item-text-visited-color;
            }
        }
        .no-touch & {
            &:hover {
                color:@component-item-text-hover-color;
                background-color:@component-item-background-hover-color;
                border-color:@component-item-border-hover-color;

                .accordion-item-title-icon {
                    color:@component-item-text-hover-color;
                }
            }
            &.visited:hover {
                color:@component-item-text-hover-color;
                background-color:@component-item-background-hover-color;
                border-color:@component-item-border-hover-color;

                .accordion-item-title-icon {
                    color:@component-item-text-hover-color;
                }
            }
        }

    }

    .accordion-item-title-text {
        font-size:@component-item-font-size;
    }

    .accordion-item-body {
        display:none;
        color:@component-item-body-text-color;
        background-color:@component-item-body-background-color;
        border-color: @component-item-border-color;
        border-radius-left-bottom:@component-item-border-radius;
        border-radius-right-bottom:@component-item-border-radius;
        border-top-width: 0px;
        border-width: 0px 2px 2px 2px;

        a {
            color:@component-item-body-text-color;
        }

        .accordion-item-graphic {

        }

        .accordion-item-graphic-inner {
            padding-bottom: 10px;
        }
    }

    .accordion-item-body-inner {
        padding:@component-item-padding;

        &.js-graphic-top,
        &.js-graphic-bottom {
          .accordion-item-graphic {
            width: 100%;
            img {margin: 0 auto;}
          }
        }

        &.js-graphic-right,
        &.js-graphic-left {
          .accordion-item-body-content,
          .accordion-item-graphic {
            width: 50%;
          }
        }

        &.js-graphic-right {
          .accordion-item-graphic {
            float: right;
            &-inner {
              margin-right: 5%;
            }
          }
          .accordion-item-body-content {
            float: left;
            &-inner {
              margin-right: 5%;
            }
          }

          @media all and (max-width: @device-width-small) {
            .accordion-item-graphic,
            .accordion-item-body-content {
              float: none;
              width: 100%;
            }
      		}
        }

        &.js-graphic-left {
          .accordion-item-graphic {
            float: left;

            &-inner {
              margin-left: 5%;
            }
          }
          .accordion-item-body-content {
            float: right;
            &-inner {
              margin-left: 5%;
            }
          }

          @media all and (max-width: @device-width-small) {
            .accordion-item-graphic,
            .accordion-item-body-content {
              float: none;
              width: 100%;
            }
      		}
        }
    }
}

.article-alternative {

    .accordion-component {

        .accordion-item {

            &:hover {
                border-color:@component-item-alt-border-hover-color;
            }

        }

        .accordion-item-title-icon {
            color:@component-item-alt-text-color;
        }

        .accordion-item-title {
            color:@component-item-alt-text-color;
            background-color:@component-item-alt-background-color;
            border-color:@component-item-alt-border-color;
            .transition-all-colors;

            &:focus {
                color:@component-item-alt-text-hover-color;
                background-color:@component-item-alt-background-hover-color;
                border-color:@component-item-alt-border-hover-color;

                .accordion-item-title-icon {
                    color:@component-item-alt-text-hover-color;
                }
            }
            
            &.visited {
                color:@component-item-alt-text-visited-color;
                background-color:@component-item-alt-background-visited-color;
                border-color:@component-item-alt-border-visited-color;

                .accordion-item-title-icon {
                    color: @component-item-alt-text-visited-color;
                }
            }

            &.selected {
                color:@component-item-alt-text-selected-color;
                background-color:@component-item-alt-background-selected-color;
                border-color:@component-item-alt-border-selected-color;

                .accordion-item-title-icon {
                    color: @component-item-alt-text-visited-color;
                }
            }
            .no-touch & {
                &:hover {
                    color:@component-item-alt-text-hover-color;
                    background-color:@component-item-alt-background-hover-color;
                    border-color:@component-item-alt-border-hover-color;

                    .accordion-item-title-icon {
                        color:@component-item-alt-text-hover-color;
                    }
                }
                &.visited:hover {
                    color:@component-item-alt-text-hover-color;
                    background-color:@component-item-alt-background-hover-color;
                    border-color:@component-item-alt-border-hover-color;

                    .accordion-item-title-icon {
                        color:@component-item-alt-text-hover-color;
                    }
                }
            }

        }

        .accordion-item-body {
            color:@component-item-alt-body-text-color;
            background-color:@component-item-alt-body-background-color;
            border-color: @component-item-alt-border-color;
        }
    }
}
