.form-field-picker-item {
    width:100px;
    height:40px;
    margin:0px @space-x-small @space-x-small 0px;
    border:1px solid @ui-grey-dark;
    transition: border-color 0.3s;
    line-height: 18px;
    float:left;
    &:hover {
        border-color:@primary-color;
    }
}