@import 'colors';

@button-color:rgb(139,149,165);
@button-hover-color:darken(@button-color, 8%);
@button-text-color:#fff;
@button-text-hover-color:#fff;

@button-primary-color:#3bafda;
@button-primary-hover-color:darken(@button-primary-color, 8%);
@button-primary-text-color:#fff;
@button-primary-text-hover-color:#fff;

@button-secondary-color:#9978D8;
@button-secondary-hover-color:darken(@button-secondary-color, 8%);
@button-secondary-text-color:#fff;
@button-secondary-text-hover-color:#fff;

@button-warning-color:#ed5565;
@button-warning-hover-color:darken(@button-warning-color, 8%);
@button-warning-text-color:#fff;
@button-warning-text-hover-color:#fff;

@button-alert-color:#ed5565;
@button-alert-hover-color:darken(@button-alert-color, 8%);
@button-alert-text-color:#fff;
@button-alert-text-hover-color:#fff;

@button-border-width:0px;
@button-border-color: #37bc98;
@button-border-style:solid;
@button-border:@button-border-width @button-border-style @button-border-color;

@button-radius:2px;
@button-padding:6px 10px;

@button-spacing-top:6px;
@button-spacing-bottom:6px;

button {
    background:none;
    border:none;
    padding:0;
    margin:0;
    outline:none;
    font-size:13px;
}

.button {
    background:none;
    border:@button-border;
    background-color:@button-color;
    padding:@button-padding;
    color:@button-text-color;
    border-radius:@button-radius;
    margin-top:@button-spacing-top;
    margin-bottom:@button-spacing-bottom;
    transition:background-color 0.3s, color 0.3s;
    font-size:13px;
    text-decoration:none;
    display:inline-block;
    &.large {
        padding:16px;
    }
    &.full-width {
        width: 100%;
    }
    &:hover, &:active, &:focus {
        background-color:@button-hover-color;
        color:@button-text-hover-color;
        outline:none;
    }
    &.primary {
        background-color:@button-primary-color;
        color:@button-primary-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-primary-hover-color;
            color:@button-primary-text-hover-color;
        }
    }
    &.warning {
        background-color:@button-warning-color;
        color:@button-warning-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-warning-hover-color;
            color:@button-warning-text-hover-color;
        }
    }
    &.alert {
        background-color:@button-alert-color;
        color:@button-alert-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-alert-hover-color;
            color:@button-alert-text-hover-color;
        }
    }
    &.secondary {
        background-color:@button-secondary-color;
        color:@button-secondary-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-secondary-hover-color;
            color:@button-secondary-text-hover-color;
        }
    }

    i {
        display:inline-block;
        font-size: 14px;
        font-weight:bold;
    }

    .button-icon-position-left {
        margin-right: 6px;
        position: relative;
        top: 1px;
    }

    .button-icon-position-right {
        margin-left: 6px;
        position: relative;
        top: 1px;
    }

    &:disabled {
        cursor:auto;
        background-color:darken(@button-color, 20%);
        &:hover {
            background-color:darken(@button-color, 20%);
        }
    }
}

.button-action {
    &:hover, &:active, &:focus {
        color:@button-hover-color;
        outline:none;
    }
    &.primary {
        color:@button-primary-color;
        &:hover, &:active, &:focus {
            background-color:@button-primary-hover-color;
            color:@button-primary-text-hover-color;
        }
    }
    &.warning {
        background-color:@button-warning-color;
        color:@button-warning-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-warning-hover-color;
            color:@button-warning-text-hover-color;
        }
    }
    &.alert {
        background-color:@button-alert-color;
        color:@button-alert-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-alert-hover-color;
            color:@button-alert-text-hover-color;
        }
    }
    &.secondary {
        color:@button-secondary-color;
        &:hover, &:active, &:focus {
            background-color:@button-secondary-hover-color;
            color:@button-secondary-text-hover-color;
        }
    }

    .button-icon-position-left {
        margin-right: 8px;
    }

    .button-icon-position-right {
        margin-left: 8px;
    }

    &:disabled {
        cursor:auto;
        background-color:darken(@button-color, 20%);
        &:hover {
            background-color:darken(@button-color, 20%);
        }
    }
}

.button-flat {
    position: relative;
    &:hover, &:active, &:focus {
        color:@button-text-hover-color;
        outline:none;
    }
    &.primary {
        color:@button-primary-color;
        &:hover, &:active, &:focus {
            color:@button-primary-hover-color;
        }
    }
    &.warning {
        color:@button-warning-color;
        &:hover, &:active, &:focus {
            background-color:@button-warning-hover-color;
            color:@button-warning-text-hover-color;
        }
    }
    &.alert {
        color:@button-alert-color;
        &:hover, &:active, &:focus {
            color:@button-alert-hover-color;
        }
    }
    &.secondary {
        color:@button-secondary-color;
        &:hover, &:active, &:focus {
            color:@button-secondary-hover-color;
        }
    }

    .button-icon-position-left {
        margin-right: 8px;
    }

    .button-icon-position-right {
        margin-left: 8px;
    }

    &:disabled {
        cursor:auto;
        background-color:darken(@button-color, 20%);
        &:hover {
            background-color:darken(@button-color, 20%);
        }
    }

    span {
        position: relative;
        top: -2px;
    }

    .tool-tip-bottom {
        display: none;
    }

    &:hover {
        .tool-tip-bottom {
            position: absolute;
            display: block;
            border: 1px solid #ddd;
            border-radius: 2px;
            background-color: #f0f0f8;
            width: 100px;
        }
    }

    .tool-tip-top {
        display: none;
    }

    &:hover {
        .tool-tip-top {
            position: absolute;
            display: block;
            border: 1px solid #ddd;
            border-radius: 2px;
            background-color: #f0f0f8;
            width: 100px;
            bottom: 25px;
            
            &:after {
                content: '';
                width: 0; 
                height: 0; 
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid black;
            }
        }
    }
}




