@import 'colors';

@button-color:rgb(139,149,165);
@button-hover-color:darken(@button-color, 8%);
@button-text-color:#fff;
@button-text-hover-color:#fff;

@button-primary-color:#3bafda;
@button-primary-hover-color:darken(@button-primary-color, 8%);
@button-primary-text-color:#fff;
@button-primary-text-hover-color:#fff;

@button-secondary-color:#9978D8;
@button-secondary-hover-color:darken(@button-secondary-color, 8%);
@button-secondary-text-color:#fff;
@button-secondary-text-hover-color:#fff;

@button-warning-color:#ed5565;
@button-warning-hover-color:darken(@button-warning-color, 8%);
@button-warning-text-color:#fff;
@button-warning-text-hover-color:#fff;

@button-alert-color:#ed5565;
@button-alert-hover-color:darken(@button-alert-color, 8%);
@button-alert-text-color:#fff;
@button-alert-text-hover-color:#fff;

@button-border-width:0px;
@button-border-color: #37bc98;
@button-border-style:solid;
@button-border:@button-border-width @button-border-style @button-border-color;

@button-radius:2px;
@button-padding:6px 10px;

@button-spacing-top:6px;
@button-spacing-bottom:6px;

button {
    background:none;
    border:none;
    padding:0;
    margin:0;
    outline:none;
    font-size:13px;
}

.button {
    position: relative;
    background:none;
    border:@button-border;
    background-color:@button-color;
    padding:@button-padding;
    color:@button-text-color;
    border-radius:@button-radius;
    margin-top:@button-spacing-top;
    margin-bottom:@button-spacing-bottom;
    transition:background-color 0.3s, color 0.3s;
    font-size:13px;
    text-decoration:none;
    display:inline-block;
    &.large {
        padding:16px;
    }
    &.full-width {
        width: 100%;
    }
    &:hover, &:active, &:focus {
        background-color:@button-hover-color;
        color:@button-text-hover-color;
        outline:none;
        .tool-tip {
            display: block;
        }
    }
    &.primary {
        background-color:@button-primary-color;
        color:@button-primary-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-primary-hover-color;
            color:@button-primary-text-hover-color;
        }
    }
    &.warning {
        background-color:@button-warning-color;
        color:@button-warning-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-warning-hover-color;
            color:@button-warning-text-hover-color;
        }
    }
    &.alert {
        background-color:@button-alert-color;
        color:@button-alert-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-alert-hover-color;
            color:@button-alert-text-hover-color;
        }
    }
    &.secondary {
        background-color:@button-secondary-color;
        color:@button-secondary-text-color;
        &:hover, &:active, &:focus {
            background-color:@button-secondary-hover-color;
            color:@button-secondary-text-hover-color;
        }
    }

    i {
        display:inline-block;
        font-size: 14px;
        font-weight:bold;
    }

    .button-icon-position-left {
        margin-right: 6px;
        position: relative;
        top: 1px;
    }

    .button-icon-position-right {
        margin-left: 6px;
        position: relative;
        top: 1px;
    }

    &:disabled {
        cursor:auto;
        background-color:darken(@button-color, 20%);
        &:hover {
            background-color:darken(@button-color, 20%);
        }
    }

    .tool-tip {
        display:none;
        white-space: nowrap;
        position: absolute;
        padding: 2px 6px 2px;
        z-index: 1000;
        
        border-radius: 2px;
        background-color: #454545;
        left: 50%;
        color: #fff;
        &:after {
            position: absolute;
            margin-left: -6px;
            left: 50%;
            content: '';
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
        }
    }

    .tool-tip-bottom {
        top: 100%;
        margin-top: 6px;
        &:after {
            top: -5px;
            border-bottom: 6px solid #454545;
        }
    }

    .tool-tip-top {
        bottom: 100%;
        margin-bottom:6px;
        &:after {
            bottom: -5px;
            border-top: 6px solid #454545;
        }
    }
    
}

.button-flat {
    position: relative;
    color: #555;
    &:hover, &:active, &:focus {
        color:darken(#555, 20%);
        .tool-tip {
            display: block;
        }
    }
    &.primary {
        color:@button-primary-color;
        &:hover, &:active, &:focus {
            color:@button-primary-hover-color;
        }
    }
    &.warning {
        color:@button-warning-color;
        &:hover, &:active, &:focus {
            background-color:@button-warning-hover-color;
            color:@button-warning-text-hover-color;
        }
    }
    &.alert {
        color:@button-alert-color;
        &:hover, &:active, &:focus {
            color:@button-alert-hover-color;
        }
    }
    &.secondary {
        color:@button-secondary-color;
        &:hover, &:active, &:focus {
            color:@button-secondary-hover-color;
        }
    }

    .button-icon-position-left {
        margin-right: 8px;
    }

    .button-icon-position-right {
        margin-left: 8px;
    }

    &:disabled {
        cursor:auto;
        color: #586272;
        &:hover {
            color: #586272;
        }
    }

    .flat-button-text {
        position: relative;
        top: -2px;
    }

    .tool-tip {
        display:none;
        white-space: nowrap;
        position: absolute;
        padding: 2px 6px 2px;
        z-index: 1000;
        
        border-radius: 2px;
        background-color: #454545;
        left: 50%;
        color: #fff;
        &:after {
            position: absolute;
            margin-left: -6px;
            left: 50%;
            content: '';
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
        }
    }

    .tool-tip-bottom {
        top: 100%;
        margin-top: 6px;
        &:after {
            top: -6px;
            border-bottom: 6px solid #454545;
        }
    }

    .tool-tip-top {
        bottom: 100%;
        margin-bottom:6px;
        &:after {
            bottom: -6px;
            border-top: 6px solid #454545;
        }
    }
}




