.card {
	display: block;
    background-color: #fff;
    box-shadow: 0px 0px 10px -4px #000;
    border-radius: 3px;
    margin: 40px auto 40px;
    border: 1px solid #ccc;
    width: 280px;
    
    .card-inner {
    	padding:16px;
        min-height: 240px;
    }

}