.collection-items {
    padding: 16px;
}

.collection-item {
    background-color: #fff;
	border: 1px solid #e0e0e8;
}

.collection-item-content {
	padding: 16px;
}

.collection-item-actions {
	background-color: #F0F0F8;
    padding: 0 5px 0 10px;

    button {
        margin-left: 4px;
        padding: 4px 10px;
    }
}

.collection-item-actions-buttons {
	text-align: right;
	padding: 0px 5px 0 20px;

    .button {
    	margin-left: 4px;
    	padding: 4px 10px;
    }
}