/* STYLES FOR CSS VALUE COMPONENT */

.css-value {
	border: 1px solid #ddd;
	border-radius: 2px;
    display: inline-block;
    background-color: #f0f0f8;
}

.css-value-unit {
	float: left;
	padding: 4px;
}

.css-value-input {
	float: left;
	border: none;
	padding: 7px;
	background-color: #f0f0f8;
	width: 116px;

	&:focus {
		outline: none;
	}
}

.css-value-buttons {
	float: left;
	button {
		margin: 0;
		border-radius: 0px;
	}
}

/* STYLES FOR BORDER SELECTOR COMPONENT */

.css-selector {
	display: inline-block;

	button { 
		margin: 0;
	}
}

.css-selector-top,
.css-selector-bottom {
	padding: 0px 34px;
}

/* STYLES FOR BORDER RADIUS SELECTOR */

.css-border-radius-selector {
	button {
		margin: 0;
	}
}
