@import '../buttons/less/buttons.less';
@import '../collections/less/collectionItems.less';
@import '../card/less/card.less';
@import '../search/less/searchBar.less';
@import '../actionBar/less/actionBar.less';
@import '../loading/less/loading.less';
@import '../alert/less/alert.less';
@import '../select/less/selectOption.less';
@import '../tag/less/tag.less';
@import '../pagination/less/pagination.less';
@import "../rangeSlider/less/rangeSlider.less";
@import "../buttonGroup/less/buttonGroup.less";
@import "../folder/less/folder.less";
@import "../progressBar/less/progressBar.less";
@import "../toggle/less/toggle.less";
@import "../list/less/listItem.less";
@import "../cssBorderRadiusSelector/less/editor.less";
@import "../message/less/message.less";
@import "../starRating/less/starRating.less";
@import "../dropDown/less/dropDown.less";
@import "../checkListItem/less/checkListItem.less";
@import "../chip/less/chip.less";

* {
	box-sizing: border-box;
}



/*
    CSS just for UI elements
*/

/*h1 {
    text-align: center;
    padding:30px;
    border-bottom:1px solid #ddd;
}

button {
    margin-right:8px;
}*/