@import './buttons.less';
@import './collectionItems.less';
@import './card.less';
@import './searchBar.less';
@import './actionBar.less';
@import './loading.less';
@import './alert.less';
@import './selectOption.less';
@import './tag.less';
@import './pagination.less';
@import "./rangeSlider.less";
@import "./buttonGroup.less";
@import "./folder.less";
@import "./progressBar.less";
@import "./toggle.less";
@import "./accordionItem.less";
@import "./listItem.less";


/*
    CSS just for UI elements
*/

/*h1 {
    text-align: center;
    padding:30px;
    border-bottom:1px solid #ddd;
}

button {
    margin-right:8px;
}*/