.list-item {
    margin:0;
    padding:0;
    list-style: none;
    background-color:#fff;
    border:1px solid #ccc;
    border-top:none;
    &:first-child {
        border-top:1px solid #ccc;
    }
}

.list-item-clickable {
    display:block;
    width:100%;
    text-align: left;
    transition: background-color 0.3s;
    &:hover {
        background-color:#f0f0f8;
    }
}

.list-item-inner {
    position:relative;
    padding:8px;
}

.list-item-wrapper {
    /*background: none;
    padding: 6px 3px;
    border-radius: 0px;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;*/
}

.list-item-icon {
    position:absolute;
    top:50%;
    left: 12px;
    width:16px;
    height:16px;
    margin-top:-8px;
    font-size: 16px;
}

.list-item-content {
    width:80%;
    float:left;
    &-inner {
        padding-left: 32px;
    }
    .list-item-text {
    	font-size: 16px;
        font-weight: 600;
        line-height: 120%;
    }
    .list-item-detail {
        display: block;
        font-size: 12px;
        color: #929292;
    }
}

.list-item-buttons {
    width:20%;
    float:left;

    button {
        margin-left: 3px;
    }
}

