@import 'uiElements.less';
@import 'reset.less';
@import 'icons.less';
@import 'fonts.less';
@import 'section.less';
@import 'buttons.less';
@import './uiElements/collectionItems.less';
@import './uiElements/login.less';
@import './uiElements/searchBar.less';




/*
    CSS just for UI elements
*/

/*h1 {
    text-align: center;
    padding:30px;
    border-bottom:1px solid #ddd;
}

button {
    margin-right:8px;
}*/