.pagination {
	.pagination-previous-page {
		float: left;
		margin:0;
    	border-top-right-radius: 0px;
   		border-bottom-right-radius: 0px;
	}
	.pagination-next-page {
		float: left;
		margin:0;
    	border-top-left-radius: 0px;
   		border-bottom-left-radius: 0px;
	}
	.page-count {
		float: left;
    	padding: 3px 18px;
    	background-color: #fff;
   		border-top: 1px solid #ccc;
    	border-bottom: 1px solid #ccc;
	}
}
