.progress-bar {
	width: 100%;
    height: 6px;
    margin-top: 36px;
    border-radius: 2px;

    .progress-bar-inner {
    	height: 6px;
    	background-color: #f55678;
    	border-radius: 3px;
    }
}
