.rangeslider {
  display: block;
  clear: both;
  margin: 14px 0;
  border: 0;
  height: 30px;
}

.rangeslider__bar{
  display: block;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.rangeslider__bar-0{
  border-radius: 3px 0 0 3px;
  background: @secondary-color;
}

.rangeslider__bar-1{
  border-radius: 0 3px 3px 0;
  background: @secondary-color-darker;

  &:focus {
    background: #3d0;
  }

}

.rangeslider.disabled {
  .rangeslider__handle {
    background-color: @button-disabled-border-color;
    border-color: @button-disabled-border-color;

    .no-touch &:hover {
      cursor: default;
      box-shadow: none;
    }
  }
}

.rangeslider__handle {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 2px solid @secondary-color-darker;
  border-radius: 15px;
  background: #fff;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  transition: box-shadow 0.25s;
}

.rangeslider__handle:active {
  box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
}