.search-bar {
	float: right;
	position: relative;
	.button {
		position: absolute;
		margin-top: 0px;
		right: 0;
	}
}

.search-bar-input {
	padding: 3px 30px 3px 5px;
    font-size: 13px;
    width: 120px;
	border:1px solid @tertiary-color;
	color:@secondary-color;
	border-radius:2px;
	margin-bottom:1px;
	transition:color 0.3s, background-color 0.3s;
	font-size:13px;
	background-color: #fff;

	&:focus {
		background-color:#f0f0f8;
		outline:none;
	}
}