.search-bar {
	position: relative;
	.button {
		position: absolute;
		margin-top: 0px;
		right: 0;
	}
}

.search-bar-input {
	padding: 0px 30px 2px 5px;
    font-size: 13px;
    width: 120px;
    height: 24px;
	border:1px solid @tertiary-color;
	color:@secondary-color;
	border-radius:2px;
	margin-bottom:0px;
	transition:color 0.3s, background-color 0.3s;
	font-size:13px;
	background-color: #fff;

	&:focus {
		background-color:#f0f0f8;
		outline:none;
	}
}