.select-option {
	display: inline-block;
	position: relative;
	z-index: 100;

	.select-option-selector {	
		.button {
			margin: 0px;
		}
	}

	.select-option-item-container {
		border: 1px solid #ddd;
		width: 140px;
		position: absolute;
		background-color: #fff;
		z-index: 100;

		&:empty {
			border: none;
		}
    	
    	.select-option-item {
    		border-bottom: 1px solid #ddd;
    		padding: 8px;
    		cursor: pointer;

    		&:last-child {
    			border-bottom: none;
    		}

    		&:hover {
    			background-color: #f0f0f8;
    		}
    	}
	}
}

.select-option-search {
	display: inline-block;
	position: relative;
	z-index: 100;

	.select-option-item-container {
		width: 208px;
		border-top: none;
		height: 205px;
		overflow-y: scroll;
		border: 1px solid #ddd;
		position: absolute;
		background-color: #fff;
		z-index: 100;
	}
	.search-bar-input {
		width: auto;
	}
	.select-option-item {
	    border-bottom: 1px solid #ddd;
		padding: 8px;
		cursor: pointer;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background-color: #f0f0f8;
		}
	}
}

.select-option-drop-down {
	position: absolute;
}

.select-option-search-bar {
	padding: 12px;
	border: 1px solid #ddd;
	width: 208px;
	background-color: #fff;
}