@import 'less/index';
@import 'uiElements/index';

/*SECTIONS*/
section {
    border-bottom:1px solid #ddd;
    align-items: stretch;
    display: flex;
    .col-1-1 {
        float:left;
        width:30%;
        padding:5%;
        background-color:@ui-grey-lightest;
    }
    .col-1-2 {
        float:left;
        width:70%;
        padding:5%;
        .content-background;
    }

}

span.section-item {
    display:inline-block;
    margin-right: @space-small;
    margin-bottom: @space-small;
}

div.section-item {
    margin-bottom: @space-small;
}