.gallery {
	background-color: #EBEBEB
}

.gallery-thumbnails {
	display: inline-block;
	text-align: center;
}

.gallery-thumbnail-item {
	display: inline-block;
	width: 12.5%;
	padding: @space-micro 0px;

	&:hover, &:focus {
		opacity: 0.6;
	}
}

.gallery-thumbnail-item-inner {
	display: block;
}